<meta name="viewport" content="width=device-width, initial-scale = 1.0">

<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"
	type='text/javascript'> </script>
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}"
      rel="stylesheet">
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet" media="screen">
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"
	type='text/javascript'> </script>

<style type="text/css">
  body { 
  padding-top: 60px;
  padding-botton: 40px;
  }
</style>
