<h4> This is the page for the review </h4>

{% include "lib.html" %}

<div class="jumbotron">
  <h3>{{ movieInfo['title']}} ({{movieInfo['year']}})</h3>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="jumbotron">
      {{movieInfo['title']}
      </div>
    {% if movie['year'] != "" %}
    ({{movie['year']}})
    {% endif %}
  </div>
  <div class="panel-body">


<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="{{movieInfo['posters']['original']}}" height="810" width="540">
  </a>
  <div class="media-body">

    <h2>Movie Info</h2>
    Genre(s): {% for genre in movieInfo['genres']%} {{genre}}, {% endfor %}<br>
    Directors: {% for director in movieInfo['abridged_directors'] %} {{director['name']}}, {% endfor %}
    <br>
    MPAA Rating: {{movieInfo['rating']}}<br>


    <!-- put text description, actors, etc here -->
    {% for castmem in movie['abridged_cast'] %}
    {{castmem['name']}}

    {% if castmem['characters'] is defined %}
    as 
    {% for name in castmem['characters'] %}
    {{name}}, 
    {% endfor %}
    ;
    {% endif %}
    {% endfor %}
    <br>
    <!--insert review(s) here-->
  </div>
</div>

  </div>
</div>

