<h4> This is the page for the review </h4>

{% include "lib.html" %}

<h3>{{ movieInfo['info']['title']}} ({{movieInfo['info']['year']}})</h3>
<img border="0" src="{{movieInfo['info']['posters']['detailed']}}" alt="detailed">
<br>

<h2>Movie Info</h2>
Genre(s): {% for genre in movieInfo['info']['genres']%} {{genre}}, {% endfor %}<br>
Directors: {% for director in movieInfo['info']['abridged_directors'] %} {{director['name']}}, {% endfor %}
<br>
Cast: {% for actor in movieInfo['info']['abridged_cast'] %} {{actor['name']}}, {% endfor %} <a href="{{movieInfo['info']['links']['cast']}}">full cast</a>
<br>



<br>
{{movieInfo['review']}}
{% for text in movieInfo['reviews'] %}
{% endfor %}
<img border="0" src="http://i.imgur.com/cyO0KTQ.jpg">
