<h4> <a href="/home/"> This is the page for the review </a></h4>

{% include "lib.html" %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="jumbotron">
      {{movieInfo['info']['title']}}
      </div>
    {% if movieInfo['info']['year'] != "" %}
    ({{movieInfo['info']['year']}})
    {% endif %}
  </div>
  <div class="panel-body">


<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="{{movieInfo['info']['posters']['original']}}" height="810" width="540">
  </a>
  <div class="media-body">

    <h2>Movie Info</h2>
    Genre(s): {% for genre in movieInfo['info']['genres']%} {{genre}}, {% endfor %}<br>
    Directors: {% for director in movieInfo['info']['abridged_directors'] %} {{director['name']}}, {% endfor %}
    <br>
    MPAA Rating: {{movieInfo['info']['rating']}}<br>


    <!-- put text description, actors, etc here -->
    {% for castmem in movieInfo['info']['abridged_cast'] %}
    {{castmem['name']}}

    {% if castmem['characters'] is defined %}
    as 
    {% for name in castmem['characters'] %}
    {{name}}, 
    {% endfor %}
    ;
    {% endif %}
    {% endfor %}
    <br>
	<p>
		{{movieInfo['review']|safe}}
	</p>
    <!--insert review(s) here-->
  </div>
</div>

  </div>
</div>

