{% include "lib.html" %}

<h3> Yay you're searching for... </h3>


<div class="jumbotron">
  <h1>{{d['search_request']}}</h1>
</div>

<div id="searchresults">
{% for movie in d['movies']['movies'] %}
<a href=/movie/{{ movie['id'] }}>
{% if movie['posters']['detailed'] != "http://images.rottentomatoescdn.com/images/redesign/poster_default.gif" %}
<img class="searchresult" src=
{{ movie['posters']['detailed'] }}
></img>
</a>
{% endif %}

{% if loop.index is divisibleby 4 %}
<br>
{% endif %}

{% endfor %}
</div>
<br>
<!--http://i.imgur.com/UXbU9lF.jpg-->

</body>
